input[type="range"] {
  height: 34px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 1000px;
  background: rgba(240, 120, 100, 0);
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #002200;
  background: #cc0a0a;
  border-radius: 1px;
  border: 1px solid #18d501;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 3px 3px 3px #00b500;
  border: 2px solid #8cf58d;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #2f692f;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #cc0a0a;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #002200;
  background: #cc0a0a;
  border-radius: 1px;
  border: 1px solid #18d501;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 3px 3px 3px #00b500;
  border: 2px solid #8cf58d;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #2f692f;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #cc0a0a;
  border: 1px solid #18d501;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #002200;
}
input[type="range"]::-ms-fill-upper {
  background: #cc0a0a;
  border: 1px solid #18d501;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #002200;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 3px 3px 3px #00b500;
  border: 2px solid #8cf58d;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #2f692f;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #cc0a0a;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #cc0a0a;
}
