@import "range.css";
@import "bg.css";
@import "title.css";
@import "button.css";
@import "textLine.css";
@import "winBtn.css";

.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
